FEATURES
  DASHBOARD
    - Add live-chat, active mods, stream and viewer metrics
  CALENDAR
    - Expand details of events from all connected platforms on calendar view
  REPORTS
    - Think of things to add here
  MODS
    - Detailed statistics on mod activity
  SERVICES
    - Add images/logos for each platform
    - Allow reauthorization of platforms